.alphabet {
    display: grid;
    grid-auto-rows: 4.5em;
    grid-gap: .5em;
    grid-template-columns: repeat(4,4.5em);
    margin: auto;
}

.letter {
    align-items: center;
    background-color: #fcfcfc;
    border-radius: .6rem;
    border: solid 1px rgba(138, 138, 138, 0.1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.17);
    color: #333;
    cursor: pointer;
    display: flex;
    font-size: 2.4rem;
    font-weight: 700;
    height: 2.2em;
    margin: .1em;
    justify-content: center;
    text-transform: uppercase;
    width: 2.2em;
}

.letter:active {
    color: black;
}