.modal {
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    font-size: 9rem;
    height: 100vh;
    justify-content: center;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}