.modal {
    background: #fcfcfc;
    border-radius: 3px;
    border: solid 1px rgba(138, 138, 138, 0.1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.17);
    color: #f90;
    height: 30em;
    left: 50%;
    margin: auto;
    position: fixed;
    text-shadow: none;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18em;
    z-index: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.restart {
    color: #ff0052;
    cursor: pointer;
    margin: 2em;
    margin-top: auto;
}

.modal-text {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -30%);

}
  
  .win-emoji {
    display: inline-block;
    font-size: 5em;
    margin: .5em
  }

  .lose-emoji {
    display: inline-block;
    font-size: 5em;
    margin: .5em
  }