.install-prompt-background {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100vw;
    z-index: 1;
}

.install-prompt {
    background-color: white;
    border-radius: 1em;
    color: #333;
    font-size: 1.2rem;
    left: 50%;
    padding: 2em;
    position: absolute;
    text-shadow: none;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    z-index: 2;
}

.install-prompt-exit {
    font-size: 2rem;
    padding: 0em 1.5em 1em 1em;
    position: absolute;
    right: 0;
    top: 0;
}

.action-icon {
    padding: .3em;
    vertical-align: middle;
    width: 1em;
}

.app-icon {
    border-radius: 1em;
    margin-top: 2em;
    width: 10rem;
}